<div class="modal-header"> 
  <h4 class="modal-title" id="myModalLabel">Modal title</h4> 
</div>
 <div class="modal-body"> 
 <h1>New Blog</h1>
<%= form_for  :blog, url: blogs_path do |form| %>
<!-- <%#= form_with(model: blog, local: false) do |form| %> -->
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: 'form-control' %>
  </div>  

  <div>
    <%= form.label 'Category' %><br>    
    <%= form.select(:category, Category.all.collect {|qt| [ qt.category, qt.category ]}, { :include_blank => "Please Select a Type" }, class:'form-control category')%>   
  </div>  

  <%= form.label "Sub Category" %><br>  
  <div class="field" id="sub_category_field">
     <%= form.select :sub_category, @sub_categories.collect {|qt| [ qt.category, qt.category ]},  {:include_blank => "Please Select a Type" }, class:'form-control sub-category', id: "sub-category" %>
  </div>

  <div class="modal-footer">     
      <%= form.submit class: "btn btn-primary" %> 
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
  </div>
<% end %>

<script> 
  $(document).ready(function(){
    $(".category").on('change', function(){
      alert("The new team id is: " + $(this).val()); 
      $.ajax({
      url: "/blogs/:"+ $(this).val()+ "/get_subcategory",
      type: "GET",  
      data: {category_id: $(this).val()},
      success: function(data){    
                        console.log((data));     
                        var listitems = []; 
                        $.each(data,function(key, value){ 
                          listitems += '<option value="' + value.sub_category + '">' + value.sub_category + '</option>'; 
                        }); 
                        $("#sub-category").append(listitems);
                        },
      error: function(err) {}
                  console.log("error", err);
    })
   
    }); 
  });  




</script>
</div>
  
  