<div class="container-fluid mb-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <% if user_signed_in? %>
      <%= link_to 'Create Blog', new_blog_path, {:remote => true, 'data-bs-toggle' => "modal",'data-bs-target' => '#modal-window', class: 'btn btn-primary btn-lg mb-4'} %> 
      
<!-- Model code start -->
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document"> 
            <div class="modal-content">
                    
            </div> 
          </div>
        </div>       
<!-- Model Code end -->

<!-- Blogs Table -->
<h1>Blogs</h1>

<table class="table table-dark mt-4">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
       <th scope="col">Created By</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="blogsTable"> 
     <% @blogs.each do |blog| %>
    <tr id="blogRow">
      <th scope="row"><%= blog.id %></th>
      <td><%= blog.title %></td>
      <td><%= blog.description %></td>
      <td><%= blog.user.name + " " +  blog.user.surname %></td>
      <td>
        <%= link_to "Edit", edit_blog_path(blog),{:remote => true, 'data-bs-toggle' => "modal",'data-bs-target' => '#modal-window', class: 'btn btn-primary'}%>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'btn btn-danger' %>
      </td>
    </tr>
     <% end %>
  </tbody>
</table>

  



<!-- Blogs table end -->

    </div> 
  </div> 
</div>

         
      

      <% else %>
          <h1>Welcome to the New Face App</h1>
          <p>You can register Yourslef here</p>
      <% end %>


    </div>
  </div>
</div>