<div class="container-fluid mb-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <% if user_signed_in? %>
      <%= link_to 'Create Blog', new_blog_path, {:remote => true, 'data-bs-toggle' => "modal",'data-bs-target' => '#modal-window', class: 'btn btn-primary btn-lg mb-4'} %> 
      
<!-- Model code start -->
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document"> 
            <div class="modal-content">
                    
            </div> 
          </div>
        </div>       
<!-- Model Code end -->

<!-- Blogs Table -->
      <h1>Blogs</h1>
      <% @blogs.each do |blog| %>
      <div style="display: inline-block;">   
        <div class="card mt-4 mx-1" style="width: 18rem;">   
          <div class="card-body">
            <h5 class="card-title"><%= blog.category %></h5>
            <h5 class="card-title"><%= blog.title %></h5>
            <h6 class="card-text"><%= blog.user.name + " " +  blog.user.surname  %></h6>
            <p class="card-text"><%= blog.description %></p>
            <%= link_to "Edit", edit_blog_path(blog),{:remote => true, 'data-bs-toggle' => "modal",'data-bs-target' => '#modal-window', class: 'btn btn-primary'}%>
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'btn btn-danger' %>
          </div>
        </div>
      </div>

      <% end %>

<!-- Blogs table end -->

    </div> 
  </div> 
</div>     
      

      <% else %>
          <h1>Welcome to the New Face App</h1>
          <p>You can register Yourslef here</p>
      <% end %>


    </div>
  </div>
</div>